<!-- <div class="login-box">
    <h2>Formulario de Registro</h2>
    <form action="/add" method="post">
      <div class="user-box">
        <input type="text" name="name" required="">
        <label>Nombres y apellidos</label>
      </div>
      <div class="user-box">
        <input type="number" name="phone" required="">
        <label>Numero de celular</label>
      </div>
      <div class="user-box">
          <input type="email" name="email" required="">
          <label>Correo personal/institucional</label>
      </div>
      <div class="user-box">
          <input type="text" name="university" required="">
          <label>Universidad</label>
      </div>
      <div class="user-box">
          <input type="text" name="career" required="">
          <label>Carrera profesional</label>
      </div>
      <div>
          <select name="cycle" class="form-select" aria-label="Default select example">
              <option selected>Ciclo</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="1">4</option>
              <option value="2">5</option>
              <option value="3">6</option>
              <option value="1">7</option>
              <option value="2">8</option>
              <option value="3">9</option>
              <option value="3">10</option>
            </select>
      </div>
      <a type="submi" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Guardar
      </a>
      <button class="btn btn-primary" type="submit">
          enviar
      </button>
    </form>
  </div> -->
      
  
<h1>resultss</h1>
  <div class="container text-center results hide">
		<p id="results"></p>
	</div>

