<!-- <form action="/" method="post">
      <legend>Disabled fieldset example</legend>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Nombre Y Apellido</label>
        <input type="text" name="name" id="disabledTextInput" class="form-control" placeholder="Ingresar nombre y apellido">
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Celular</label>
        <input type="number" name="phone" id="disabledTextInput" class="form-control" placeholder="Ingresar celular">
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Email</label>
        <input type="text" name="email" id="disabledTextInput" class="form-control" placeholder="Ingresar Email">
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Universidad</label>
        <input type="text" name="university" id="disabledTextInput" class="form-control" placeholder="Ingresar Universidad">
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Carrera universitaria</label>
        <input type="text" name="career" id="disabledTextInput" class="form-control" placeholder="Ingresar Carrera universitaria">
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Seleccione el ciclo</label>
        <select class="form-select" name="cycle" aria-label="Default select example">
          
            <option selected>Open this select menu</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
      </div>
     
      <button id="submit-bt" type="submit" class="btn btn-primary">Submit</button>
   
  </form> -->
<!-- <script type="text/javascript" src="register3.js"></script> -->
