
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;

}


body{
	
	
	background: linear-gradient(#40DAFE, #6224BF);
	
}

.container1{
	
	display: flex;
                             
	justify-content: center;
	width: 60%;
	margin: 0 auto;
	
	/* flex-direction: column;
	width: 800px; */

	
}

.form0{
	width: 90%;
	

	flex-direction: column;

	margin: 0 auto;
	
	width: 60%;

	margin: 0 auto;
	

}

.form0{
	margin: 0 auto;
	background-color: #3600D9;
	color: white;
	font-weight: bold;
	font-family: 'Arial';
	margin: auto;
	padding: 1.5em;
	border-radius: 10px;
	box-shadow: 0 5px  10px -5px rgb(0, 0, 0/30%);
	text-align: center;
	margin-bottom: 2px;

	

	width: 100%;

}

.form{
	background-color: #fff;
	margin: 0 auto;
	padding: 2.5em;
	border-radius: 10px;
	box-shadow: 0 5px  10px -5px rgb(0, 0, 0/30%);
	text-align: center;

	width: 90%;

	width: 100%;

}

.form2{
	width: 90%;
	background-color: #fff;

	margin: 0 auto;

	margin: auto;

	
	width: 90%;


	width: 100%;

	margin-top: 10px;
	padding: 2.5em;
	border-radius: 10px;
}

.nav01{
	background-color:  #6633FF;
	display: flex;
	align-items: center;
	height: 100px;
	width: 100%
	
	
}

.navbar-logo{
	float: left;
	

}

.navbar-login{
	float: right;
}

.form_container{
	display: grid;
	gap: 2.5em;
}

.form_container2{
	display: grid;
	gap: 2.5em;
}

.form_group{
	position: relative;
}

.form_input{
	width: 100%;
	background:none;
	color: #706c6c;
	font-size: 1rem;
	padding: -6em -3em;
	border: none;
	outline: none;
	border-bottom: 2px solid #999999;	
	font-family: 'Roboto';
}

.form_input:focus + .form_label,	
.form_input:not(:placeholder-shown) + .form_label{
	transform: translateY(-12px) scale(.5);
	transform-origin: left top;
	color: #0057CB;
}

.form_label{
	color:black;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer; 		
	position: absolute;
	font-size: 15px;
	top: -20;
	left: 5px;

	transform: translateY(-10px); 

	transform: translateY(-10px);

	transition: transform .5s, color .3s;
}




 .form_submit {

	

	margin-top: 35px;

	
	

	border-radius: 4px;
	background-color: #6633FF;
	border: none;
	color: white;
	text-align: center;
	font-size: 32px;

	padding: 12px;
	width: 70%;

	margin-left: 20%;
	width: 60%;

	transition: all 0.5s;
	cursor: pointer;
	
	box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  } 

/*  
  .form_submit{
	
	display: inline-block;
	
	transition: 0.5s;
  }
  
  .form_submit:after {
	content: '»';
	position: absolute;
	opacity: 0;  
	top: 14px;
	right: -20px;
	transition: 0.5s;
  }
  
  .form_submit:hover{
	padding-right: 24px;
	padding-left:8px;
  }
  
  .form_submit:hover:after {
	opacity: 1;
	right: 10px;
  }


  .form_submit:hover {
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
	box-shadow: 0 0 5px green, 0 0 20px rgba(0, 123, 255, 0.5), 0 0 30px rgba(0, 123, 255, 0.3), 0 0 40px rgba(0, 123, 255, 0.2);
  }  
*/

/* Questions */

.form_group2{	
	margin-top: 10	px;
}
.container_radio{
	margin-top: 15px;
}

.question{
	font-weight: bold;
	font-family: 'calibri';
	font-size: 20px;
}

.form_labelradio{
	font-family: 'calibri';
	margin-left: 10px;
}

.form_radio{
	font-size: 15px;
}



@media (max-width: 450px) {
	.container1 {
	width: 95%
  }
}

/* Alerts */

.modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
  }

  .modal-content {
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
	border-radius: 4px;
	padding: 20px;
	margin: 100px auto;
	max-width: 400px;
  }

  .modal-success {
	background-color: #d4edda;
	color: #155724;
	border-color: #c3e6cb;
  }

  .modal-danger {
	background-color: #f8d7da;
	color: #721c24;
	border-color: #f5c6cb;
  }

  /* Estilos del botón de cerrar */
  .close {
	color: #721c24;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }

  .close:hover,
  .close:focus {
	color: #155724;
	text-decoration: none;
	cursor: pointer;
  }

 
